<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Reset your password: <a href="https://rasmgaol.vercel.app/reset-password?token=<%= @token %>">https://rasmgaol.vercel.app/reset-password?token=<%= @token %></a>
    </p>
  </body>
</html>